@font-face{
font-family: 'grueso';
src: url('../fuentes/coolvetica.otf') ;
}
*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'grueso';
}
html{
    background-color: rgb(255, 255, 255);
}
nav{
    background-color: rgba(243, 243, 243, 0.705);
    text-align: center;
    position: fixed;
    z-index: 1 ;
    width: 100%;
    /* border: 5px solid red; */
    padding-bottom: 10px;
   }
   nav  img{
    position: absolute;
    left: 20px;
    /* padding-left: 0px; */
}
.link{
    padding: 0;
    border: 0;
    margin: 0;
}

nav a{
    display: inline-block;
   text-decoration: none;
    color:rgb(0, 0, 0);
    font-style: normal;
    font-size: 120%;
padding: 1px 34px;
}
nav a:hover{
    color: rgb(0, 0, 0);
    font-size: 150%;
    font-style: italic;
    font-weight: 900;
    
}


footer{
    display: flex;
    background-color: rgb(27, 27, 27);
    padding-left: 13%; 
    
    
}
footer div{ 
    color: white;
    width: 40%;
    margin: 30px 0;  
    
  
    
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding: 80px 150px;
   
}
main img{
    width: 200px;
    height: 200px;
    padding-top: 30px;
}
main section{
    border: 5px solid white;
   
    width: 350px;
    height: 350px;
    margin: 30px;
    background-color: white;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
main section:hover{
    background-color: rgb(243, 243, 243);
}
main h1{
    width: 100%;
    padding-left: 230px;
}
section figcaption{
    padding:  10px;
    font-weight: 900;
    font-size: 20px;
}
section h3{
    text-decoration: none;
}