*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    padding: 5%;
    background-color: blue;
}
contenedor{
    display: block;
    padding: 5%;
}
h1{
    padding: 3%;
}
div{
    text-align: justify;
    background-color: white;
    margin: 4%;
    
}
div img{
    float: left;
    width: 5% 5%;
}
