*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: orange;
    
}
#contenedor{
    background-color: beige;
    margin: 30px ;
    /* margin: 30px auto; */
}
header {
   padding-top: 10px;
}
header h1{
    text-align: center;
    margin: 20px;
    color:darkorange;
}
header .banner{
    width: 100%;
    vertical-align: bottom;
}
nav{
    background-color: yellow;
    padding: 10px;
}
nav a{
    color: red;
    display: inline-block;
    /* margin: 10px; */
}
main{
    display: flex;
}
aside{
    width: 25%;
    padding: 20px;
    background-color: antiquewhite;
}
aside h3{
    padding: 20px 4px;
}
aside a{
    display: block;
    padding: 5px 0;
    color: red;
}
section{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
figure{
    border:  solid blue;
    margin: 5px;
    width: 28% ;

}
figure img{
    width: 80%;
    padding: 18px;
}
figcaption{
    text-align: center;
    padding-bottom: 20px;
}
aside img{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 10px;
}
footer{
    background-color: green;
    padding: 10px;
    text-align: center;
}
footer p{
    color: white;
     margin: 10px;
    
}





