#contenedor{
   display: flex;
   flex-direction: column;
   background-color: green;
}
p{
    margin: 5px;
    padding: 10px;
    text-align: justify;
}
p.caja1{
    background-color: chocolate;
}
p.caja2{
    background-color: orange;
}
p.caja3{
    background-color: cyan;
}